
  * {
    padding: 0;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
    font-size: 10px;
  }
  
  body {
    background-color: #003a70;
    overflow-x: hidden;
  }
  
  nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
  background-color: #003a70;
  }
  
  h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    font-size: calc(2rem + 1vw);
    font-family: 'Rock Salt', cursive;
  }
  
  .hamburger {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2rem;
  }
  
  .hamburger  .line {
    height: 0.3rem;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    transition: 0.3s;
  }
  

  .links {
    color: #fff6da;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  
  

  li {
    font-family: 'Helvetica Neue';
    list-style: none;
    font-size: 1.1em;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: width .3s;
}

li:hover::after {
  width: 100%;
}

.search-container{
  text-align: center;
  line-height: 130px;
  padding-top: 150px;
}

.search-container > h2{
  font-size: 4.8em;
  color: rgb(247, 183, 100);
  font-family: 'Bayon', sans-serif;
}


.form-inner{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  background-color: white;
  width: 600px;
  margin: 0 auto;
  gap: 5px;
}

#restaurant-term{
  width: 1000px;
  border: 1px solid rgb(255, 255, 255);
  padding: 25px;
  font-size: 2.6em;
  color: #003a70;
}


button {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.users_location{
  align-items: center;
  display: flex;
  cursor: pointer;
}

.location{
  background-color: #003a70;
  margin-top: 150px;
}

.text-right{
  padding: 20px;
  text-align: right;
  position: relative;
  right: 20px;
  top: 20px;
}

.text-right > h3{
  font-size: 2.5em;
  font-family: 'Rock Salt', cursive;
  color: #fff6da;
}
  
.text-right > span{
  font-size: 24px;
  font-weight: 600;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff6da;
}

.ob{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  padding: 30px;
  flex-wrap: wrap;
}
  
.ob-swakop {
  border-radius: 10px;
  width: 630px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}
.ob-swakop > img{
  border-radius: 10px 10px 0 0;
  height: 50vh;
 
}

.ob-swakop > h3{
  font-size: 20px;
  padding: 30px;
  text-align: center;
  color: #003a70;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid gray;
  margin: 20px;
}


.ob-swakop > span{
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #003a70;
  font-family: Arial, Helvetica, sans-serif;
}



.time{
  display: grid;
  grid-template-columns: repeat(2, 1fr
  );
  gap: 20px;
  padding: 10px;
}

.time > span{
  font-family: 'Helvetica Neue';
  color: #2e5d8a;
  font-size: 18px;
}
  
.ob-windhoek{
  border-radius: 10px;
  width: 630px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding-bottom: 50px;
}

.ob-windhoek > h3{
  font-size: 20px;
  padding: 30px;
  text-align: center;
  color: #003a70;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid gray;
  margin: 20px;
}

.ob-windhoek > img{
  border-radius: 10px 10px 0 0;
  height: 50vh;
}

.ob-windhoek > span{
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: #003a70;
  font-family: Arial, Helvetica, sans-serif;
}

.ob-windhek > .time{
  position: relative;
  top: 10px;
}

.time{
  display: grid;
  grid-template-columns: repeat(2, 1fr
  );
  gap: 20px;
  padding: 10px;
}

.time > span{
  font-family: 'Helvetica Neue';
  color: #2e5d8a;
  font-size: 18px;
}

.menu-header{
  text-align: center;
  background-color: #003a70;
  animation: myAnim 1s ease 0s 1 normal forwards;
  padding: 17px;
}

.menu-header > h3{
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 2em;
  animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.menu-header > p{
  color: #ffffff;
  font-size: 5em;
  font-family: 'Shantell Sans', cursive;
}

  [data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }

  @keyframes myWave {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  .list-1{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    animation: myAnim 2s ease-in 0s 1 normal forwards;
  }

  .list-1 > img{
    border-radius: 10px;
  }

  .list-2{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    animation: myAnim 2s ease-in 0s 1 normal forwards;
  }

  .list-2 > img{
    border-radius: 10px;
  }

  .list-3{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    animation: myAnim 2s ease-in 0s 1 normal forwards;
  }


  .list-3 > img{
    border-radius: 10px;
  }

  .list-4{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    animation: myAnim 2s ease-in 0s 1 normal forwards;
  }


  .list-4 > img{
    border-radius: 10px;
  }

  .list-5{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    animation: myAnim 2s ease-in 0s 1 normal forwards;
  }


  .list-5 > img{
    border-radius: 10px;
  }

  .list-6{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    animation: myAnim 2s ease-in 0s 1 normal forwards;
  }


  .list-6 > img{
    border-radius: 10px;
  }

  .prices{
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    color: #ffffff;
    border-radius: 0 0 5px 5px;
    padding-top: 20px;
  }

  @keyframes myAnim {
    0% {
      opacity: 0;
      transform: translateX(-250px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

  .help{
    margin-top: 20px;
    text-align: center;
    color: #fff6da;
    font-family: 'Shantell Sans', cursive;
    font-size: 5em;
}

.feedback-area{
    margin: 80px 0 0 80px;
    width: 500px;
    border-radius: 10px;
    background-color:#0f4c85;
}

.feedback-para{
    text-align: center;
    padding: 30px;
    font: 2.7em sans-serif;
    color: #fff6da;
    height: 200px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

hr{
    width: 350px;
}

.feedback-btn{
    border-top: 1px solid gray;
    margin: 0px;
    font: 2.7em sans-serif;
    padding: 15px;
    cursor: pointer;
    height: 100px;  
    justify-content: center;
    width: 470px;
    display: flex;
    align-items: center;
}

.feedback-btn #arrow{
  display: inline-block;
  transition: 0.1s ease-in;
  ;
}

.feedback-btn:hover{
    transition: 0.1s ease-in;
    background-color: #4c6d8b;
    border-radius: 0 0 10px 10px;
}

.feedback-btn:hover #arrow{
  transform: translateX(50%);
}

.feedback-btn > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


  @media screen and (max-width: 576px) {

    nav {
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      min-height: 5vh;
      padding: 1rem;
    }
    nav h2 {
      margin-left: 2rem;
    }
    .hamburger {
      display: flex;
    }
    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .toggle .line2 {
      opacity: 0;
    }
  
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    .links {
      padding-top: 1rem;
      display: none;
      flex-direction: column;
      width: 100%;
    }
    .links li {
      text-align: center;
      padding: 0.5rem 1rem;
    }
    
    .links.active {
      display: flex;
    }

    .search-container > h2{
      font-size: 3.5em;
      color: rgb(247, 183, 100);
      font-family: 'Bayon', sans-serif;
    }

    .form-inner{
      border: 1px solid rgb(0, 0, 0);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      background-color: white;
      width: 350px;
      gap: 10px;
    }

    #restaurant-term{
      border-radius: 5px;
      width: 300px;
      border: 1px solid rgb(255, 255, 255);
      padding: 25px;
      font-size: 11px;
      color: #003a70;
    }

    .ob-windhoek{
      width: 400px; 
    }

    .ob-windhoek > span{
      font-size: 15px;
    }

    .ob-windhoek > h3{
      font-size: 15px;   
    }

  
    .ob-swakop{
      width: 400px;   
    }

    .ob-swakop > span{
      font-size: 15px;
    }

    .ob-swakop > h3{
      font-size: 15px;   
    }

    .time > span{
      font-size: 15px;
    }

    .list-1{
      width: 300px;
      font-size: 0.8em;
    }
    .list-2{
      width: 300px;
      font-size: 0.8em;
    }
    .list-3{
      width: 300px;
      font-size: 0.8em;
    }
    .list-4{
      width: 300px;
      font-size: 0.8em;
    }
    .list-5{
      width: 300px;
      font-size: 0.8em;
    }
    .list-6{
      width: 300px;
      font-size: 0.8em;
    }

    .help{
      margin-top: 20px;
      text-align: center;
      color: #fff6da;
      font-family: 'Shantell Sans', cursive;
      font-size: 3em;
  }

  .feedback-area{
    margin: 80px 0 0 80px;
    width: 300px;
    border-radius: 10px;
    background-color:#0f4c85;
    margin: 0 auto;
    margin-top: 50px
}

.feedback-para{
  text-align: center;
  padding: 30px;
  font: 1.7em sans-serif;
  height: 100px;
}

.feedback-btn{
  border-top: 1px solid gray;
  margin: 0px;
  font: 1.7em sans-serif;
  padding: 15px;
  cursor: pointer;
  height: 100px;  
  justify-content: center;
  width: 270px;
  height: 75px;
}
  }
  